.form-container{
    .button{
        display: block;
        margin-top: 18px;
        &:disabled{
            cursor: not-allowed;
        }
    }
    p.error-text{
        color: #C70000;
        margin-top: 5px;
    }
}

